@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500&display=swap');

html {
    font-size: 62.5%;
}
 
:root {
    --primary: #74C69D;
    --secondary: #2b2b2b;
    --third: #fdfdfd;
 }

  
 

 
 /* *PAGINA INICIO* */
 
 
 h2  {
    font-size: 1.6em;
    letter-spacing: 5px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;

}

 h1 {
    font-size: 4em;
    font-family: 'Crimson Text', serif;

    
 }

p {
    font-size: 1.5em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    line-height: 125%;
}


* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;

   
}

* {
  box-sizing: border-box;
}




/*NAVEGADOR*/


.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
  font-family: 'Work Sans', sans-serif;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
  


.banner { 
    background-color: #74C69D;
    
   

    }

.banner .texto1 {
    display: flex;
    flex-direction: column;
    color: #fdfdfd;
    height: 430px;
    width: 400px;
    padding-left: 1em;
    padding-top: 6em;
    padding-right: 1em;
    
    
    
}

.banner .texto1 h2{
    padding-bottom: 10px;
}


.banner .texto1 h1{
    padding-bottom: 10px;
}

.banner .texto1 p{
    padding-bottom: 10px;
}

.banner .bannerimg {
   margin-left: 1em;
    margin-right: 1em;
    align-items: center;
   
  }

  .banner .bannerimg {
  
  }
  
.banner .texto1 .boton1 {
    margin-top: 20px;
    height: 35px;
    width: 140px;    
    text-decoration:none;
     font: weight 300px;;
        font-size: 1.5em;
        color:#000000;
        font-family: 'Work Sans', sans-serif;
        background-color:#fafafa;
        border-radius: 5px;
        text-align: center;
        padding-top: 8px;
        
}

main{
    background-color: #f0f0f0;
}

.productos1 {
    display: flex;
    flex-direction: row;
    padding-top: 5em;
}

.productos1 .textoproductos1 {
    display: flex;
    flex-direction: column;
    color: #000000;
    height: 430px;
    width: 400px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 3em;
    

}

.productos1 .imgproductos1 {

}

.productos1 .textoproductos1 .boton2 {
    margin-top: 20px;
    height: 35px;
    width: 140px;    
    text-decoration:none;
     font: weight 300px;;
        font-size: 1.5em;
        color:#ffffff;
        font-family: 'Work Sans', sans-serif;
        background-color:#000000;
        border-radius: 5px;
        text-align: center;
        padding-top: 8px;
        
}

.productos1 .textoproductos1 p{
    padding-top: 10px;
}



.productos2 {
    display: flex;
    flex-direction: row;
    
  
}

.productos2 .textoproductos2 {
    display: flex;
    flex-direction: column;
    color: #000000;
    height: 430px;
    width: 400px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 3em;
  
}

.Productos2 .textoproductos2 .boton3{
    margin-top: 20px;
    height: 35px;
    width: 140px;    
    text-decoration:none;
     font: weight 300px;;
        font-size: 1.5em;
        color:#ffffff;
        font-family: 'Work Sans', sans-serif;
        background-color:#000000;
        border-radius: 5px;
        text-align: center;
        padding-top: 8px;
}

.productos2 .imgproductos2 {
   width: 539px;
   height:566px; 
  
}



  
#marcas {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  margin-top: 6em;
  

}

#marcas .textomarcas{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#marcas .textomarcas h2{
    color: #74C69D;
}

#marcas .imgmarcas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 8.5em;
    margin-left: 8.5em;
    margin-top: 6em;
    margin-bottom: 6em;
    
}


#marcas .imgmarcas1 {
    height: 60px;
    width: 200px;
}
#marcas .imgmarcas2 {
    height: 60px;
    width: 200px;
}

#marcas .imgmarcas3 {
    height: 110px;
    width: 210px;
    
    
}


/* FOOTER */

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

.footer a {
  color: rgba(255,255,255,.5);
  text-decoration: none;
}


/* PAGINA ALQUILERES */

#cartas {
  display: flex;
  flex-direction: row;
  gap: 5em;
  justify-content: center;
  margin-top: 5em;
  padding-bottom: 5em;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  margin-right: 5em;
  margin-left: 5em;
 }


 .alquileres .textoalquileres{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6em;
  margin-left: 5em;
  margin-right: 5em;
}


.alquileres .textoalquileres h2{
    color: #74C69D; 
}


.carta1 {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 8px 7px rgb(146, 146, 146);
  padding-bottom: 1em;
  

  
}

  .carta1 h1 {
    text-align: center;
    
    color: #74C69D;
}
 
.carta1 h2 {
    text-align: center;
    
}

 .carta1 p{
 text-align: center;
 padding-top: 0.8em;
 padding-left: 1em;
 padding-right: 1em;
}

.carta1 .carta1__lista {
    list-style-type: none;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
  text-align: left;
  font-size: 1.4em;
  padding-left: 2.8em;
  padding-top: 1em;
}


.carta1 .boton4 {
margin-top: 20px;
text-align: center;
height: 35px;
width: 140px;    
text-decoration:none;
font: weight 300px;
font-size: 1.5em;
color:#ffffff;
font-family: 'Work Sans', sans-serif;
background-color:#000000;
border-radius: 5px;
text-align: center;
padding-top: 10px;
margin-left: 50px;
}



.carta2 {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 8px 7px rgb(146, 146, 146);
  padding-bottom: 1em;

  
}

  .carta2 h1 {
    text-align: center;
    
    color: #74C69D;
}
 
.carta2 h2 {
    text-align: center;
    
}

 .carta2 p{
 text-align: center;
 padding-top: 0.8em;
 padding-left: 1em;
 padding-right: 1em;
}

.carta2 .carta2__lista {
    list-style-type: none;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
  text-align: left;
  font-size: 1.4em;
  padding-left: 2.8em;
  padding-top: 1em;
}


.carta2 .boton5 {
margin-top: 20px;
text-align: center;
height: 35px;
width: 140px;    
text-decoration:none;
font: weight 300px;
font-size: 1.5em;
color:#ffffff;
font-family: 'Work Sans', sans-serif;
background-color:#000000;
border-radius: 5px;
text-align: center;
padding-top: 10px;
margin-left: 50px;
}

.carta3 {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 8px 7px rgb(146, 146, 146);
  padding-bottom: 1em;

  
}

  .carta3 h1 {
 text-align: center;
    
    color: #74C69D;
}
 
.carta3 h2 {
    text-align: center;
    
}

 .carta3 p{
 text-align: center;
 padding-top: 0.8em;
 padding-left: 1em;
 padding-right: 1em;
}

.carta3 .carta3__lista {
    list-style-type: none;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
  text-align: left;
  font-size: 1.4em;
  padding-left: 2.8em;
  padding-top: 1em;
}


.carta3 .boton6 {
margin-top: 20px;
text-align: center;
height: 35px;
width: 140px;    
text-decoration:none;
font: weight 300px;
font-size: 1.5em;
color:#ffffff;
font-family: 'Work Sans', sans-serif;
background-color:#000000;
border-radius: 5px;
text-align: center;
padding-top: 10px;
margin-left: 50px;
}

/* Pagina galeria*/

#camarasgaleria {

  padding: 5em 1em 5em 1em
}

.canon {
  padding-top: 5em
}

.sony {
  padding-top: 5em
}
  
   




 /* BOOTSTRAP DESREBOOT*/
.col {
  flex:;
}
 body {
  margin: 0;
  font-family: (--bs-body-font-family);
   font-size: (--bs-body-font-size); 
   font-weight: (--bs-body-font-weight); 
   line-height: (--bs-body-line-height); 
   color: (--bs-body-color); 
   text-align: (--bs-body-text-align); 
   background-color: (--bs-body-bg); 
   -webkit-text-size-adjust: 0; 
   -webkit-tap-highlight-color :0;
 }

    .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
      --bs-gutter-x: 0rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: (var(--bs-gutter-x) * 0.5);
      padding-left: (var(--bs-gutter-x) * 0.5);
      margin-right: auto;
      margin-left: auto;
  }


  .row {
    --bs-gutter-x: ; 
   --bs-gutter-y: ; 
     display: flex ; 
     flex-wrap: wrap; 
     margin-top: (-1 * var(--bs-gutter-y)); 
     margin-right: (-0.5 * var(--bs-gutter-x)); 
     margin-left: (--bs-gutter-x)); 
}

body {
  
  line-height: inherit;
}

.nav {
  display: inherit;
}